@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


h1{
    font-size: 100px;
    font-family: "roboto";
    font-weight: bold;
    color:#ff007a;
}
h2{
    font-family: "Roboto";
    Font-size: 30px;
    font-weight: bold;
    color: black;
}
h a{
    text-decoration: none;
    color: rgb(255, 136, 0);
    font-family: "roboto";
    font-weight: bolder;
    font-size: 50px;
    transition: font-size 0.3s ease;
}

h a:hover{
    font-size: 70px;
}
h a:active{
    font-size: 30px;
}


p a{
    text-decoration: none;
    align-self: center;
    font-family: "Roboto";
    font-size: 20px;
    transition: all 0.5s;
    color: rgb(83, 83, 83);
}
p:link{
    text-decoration: none;
}
p:visited{
    text-decoration: none;
}
p:active{
    text-decoration: none;
}
p:hover{
    font-size: 40px;
    font-weight: bolder;
}

@keyframes changeMe{
    0%{
        background: #ff007a;
        transform: scale(0.8);
    }

    33%{
        background: #d8026a;
    }

    66%{
        background: #a1004e;
        transform: scale(1.2);
    }

    100%{
        background: #ff007a;
    }
}