@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    animation: Fade 1.0s ease-in-out 0.0s;
    
  }
  
  @keyframes Fade{
    0%{
        opacity: 0.0;
    }
   
    100%{
        opacity: 1.0;
    }
  }
  


h1{
    font-size: 100px;
    font-family: "Roboto";
    font-weight: bold;
    color:#ff007a;
    transition: all 0.4s;
}
h1:hover{
    color: black;
}
h2{
    font-family: "Roboto";
    Font-size: 30px;
    font-weight: bold;
    color: black;
}
h a{
    text-decoration: none;
    color: #ff007a;
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 20px;
    transition: font-size 0.3s ease;
}

h a:hover{
    font-size: 40px;
}
h a:active{
    font-size: 15px;
}


p a{
    text-decoration: none;
    align-self: center;
    font-family: "Roboto";
    font-size: 20px;
    transition: all 0.5s;
    color: rgb(83, 83, 83);
}
p a:link{
    text-decoration: none;
}
p a:visited{
    text-decoration: none;
}
p a:active{
    text-decoration: none;
}
p a:hover{
    font-size: 30px;
    font-weight: bolder;
}

@keyframes changeMe{
    0%{
        background: #ff007a;
        transform: scale(0.8);
    }

    33%{
        background: #d8026a;
    }

    66%{
        background: #a1004e;
        transform: scale(1.2);
    }

    100%{
        background: #ff007a;
    }
}