@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{

    height: 25px;
}
.container{
    display:flex;
    justify-content: space-around;
    list-style: none;
    background: #ff007a;
    line-height: 25px;
}
.container a{
    text-decoration: none;
    color: white;
    font-family: "roboto";
    font-weight: bolder;
}
li{
    padding:0 40px;
}
li:hover{
    animation: changeMe 1s ease-in-out .1s;
}

@keyframes changeMe{
    0%{
        background: #ff007a;
        transform: scale(0.8);
    }

    33%{
        background: #d8026a;
    }

    66%{
        background: #a1004e;
        transform: scale(1.2);
    }

    100%{
        background: #ff007a;
    }
}

p{
 font-family: "roboto";
 font-size: 200px;
 position: flex;
 text-align: center;
 color: lightgray;
}

h a{
  text-decoration: none;
  font-family: "roboto";
  color: #ff007a;
  font-size: 100px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  right: 5%;
  transition: transform 0.3s ease-in-out;
}
h a:hover{
  transform: scale(1.3);
}
h a:active{
  transform: scale(0.3);
}