@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*{
    margin: 0px;
    padding: 15px;
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: bolder;
    background-color: rgb(255, 0, 106);
}
.group{
        padding: 5px;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0);
        width: 80%;
    }
    
h2{
        color: lightgrey;
        font-size: 40px;
}
  
header {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 15px;
        color: rgb(255, 0, 106);
        font-size: 80px;   
        background-color: lightgrey;
        height: 40%;
        width: auto;
    }

footer{
        text-align: right;
        font-size: 20px;
}
aside{
        font-size: 25px;
        color: rgb(255, 0, 106);
        margin-bottom: 25px;
        width: auto;
        height: 80%;
        background-color: lightgray;
        display: inline-block;
        align-self: top;
    }
h3{
        text-align:right;
        
}