@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@900&display=swap');
html, body{
    animation: Fade 1.0s ease-in-out 0.0s;
    height: 100%;
    text-decoration: none;
    font-family: "Anton";
    
}

@keyframes Fade{
    0%{
        opacity: 0.0;
    }
   
    100%{
        opacity: 1.0;
    }
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    background-color:black;
    z-index:1; 
}
.circle a, a:active, a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 30px;
    transition: font-size 0.5s ease, color 0.5s ease;
}
.circle a:hover{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 45px;
}

p a{
    text-decoration: none;
    background-color:rgba(255, 255, 255, 0.438);
    z-index:10;
    font-family: "Roboto";
    font-size: 1vw;
    position: absolute;
    text-align:left;
    right:1vw;
    bottom:0.5vw;
}
.circle{
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
    0 0 75px 40px #fff,  /* inner white */
    0 0 115px 70px rgb(255, 0, 191), /* middle magenta */
    0 0 155px 100px #0ff; /* outer cyan */
    display: flex;
    margin: auto;
    font-family: "Anton";
    width: 300px;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    transition: font-size 0.5s ease, background-color 0.5s ease,color 0.5s ease, transform 0.3s ease;
}
.circle:hover{
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
    0 0 60px 30px #fff,  /* inner */
    0 0 100px 60px rgb(152, 88, 255), /* middle */
    0 0 200px 90px rgb(255, 0, 0); /* outer */
    transform: scale(1.7);
    display: flex;
    margin: auto;
    font-family: "Anton";
    width: 300px;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(247, 228, 255);
    
}
.circle:active{
    transform: scale(0.8);
    
}

@media (hover: hover) and (pointer: fine) {
    #cursor {
      z-index: 99;
      position: fixed;
      left: 0;
      top: 0;
      pointer-events: none;
      will-change: transform;
    }
  
    #cursor .cursor--inner {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      box-shadow:
      0 0 30px 30px rgb(255, 255, 255),  /* inner */
      0 0 50px 60px rgb(255, 230, 0), /* middle */
      0 0 100px 90px rgb(255, 0, 0); /* outer */
      transform: translate(-50%, -50%);
      border: solid 1px #ffffff;
    }
  }