@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

html, body{
  animation: Fade 1.0s ease-in-out 0.0s;
  height: 100%;
  text-decoration: none;
  font-family: "Roboto";
  
}

@keyframes Fade{
  0%{
      opacity: 0.0;
  }
 
  100%{
      opacity: 1.0;
  }
}

.box{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
    max-width:90%;
    display: inline-block;
    background-color:transparent;

}
.container{
    animation: imagePop 1.5s ease-in-out 0.1s;
    background-color: transparent;
    position:relative;
    display: inline-block;
    padding: 0.2vw;
    opacity: 0.5;
    transition: all 0.5s;
    z-index:0;
    transform-origin: center;
}
.o{
    position: absolute;
    transform-origin: center;
    top:50%;
    left:50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.p{
    position: relative;
    transform-origin: center;
    top:0;
    bottom:0;
    z-index: 3;

}
img{
    width: auto;
    height: 4vw;
}



@keyframes imagePop{
    0%{
        opacity: 0.0;
        transform: scale(6);
    }
   
    75%{
        opacity: 1.0;
        transform: scale(0.75);
    }

    100%{
        opacity: 0.5;
        Transform: scale(1);
    }
}


.container:hover{
    font-weight:bolder;
    opacity:1.0;
    transform:scale(1.6);
    z-index: 4;
}




p{
 font-family: "roboto";
 width:100%;
 padding:1vw;
 font-size: 2vw;
 font-weight:bolder;
 position: flex;
 text-align: center;
 color: rgb(0, 0, 0);
 background-color: rgb(255, 255, 255);
}

h a{
  text-decoration: none;
  font-family: "roboto";
  color: rgb(255, 255, 255);
  font-size: 3vw;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  right: 5%;
  background-color:rgba(0, 0, 0, 0);
  transition: transform 0.3s ease-in-out;
}
h a:hover{
  transform: scale(2);
}
h a:active{
  transform: scale(0.3);
}


/* Popup Styling */
.img-popup {
    position: fixed;
    z-index:50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .img-popup img {
    width: auto;
    height: 900px;
    opacity: 0;
    transition: all 1s;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  
  .close-btn {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .close-btn .bar {
    height: 4px;
    background: rgb(190, 0, 0);
  }
  
  .close-btn .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .close-btn .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
  }
  
  .opened {
    display: flex;
  }
  
  .opened img {
    animation: animatepopup 1s ease-in-out .8s;
    -webkit-animation: animatepopup .3s ease-in-out forwards;
  }
  
  @keyframes animatepopup {
  
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  
  }
  
  @media screen and (max-width: 880px) {
  
    .box .o:nth-child(3n+1) {
      margin-left: 16px;
    }
  
  }